@page "/Den"
@inject HttpClient Http

<h1>Random: @randomNum</h1>
<button class="btn btn-primary" @onclick="RandomInt">Click me</button>
<hr />
<h1>
    Info: <br />
    @info
</h1>
<button class="btn btn-primary" @onclick="GetInfo">Get info</button>


@code {
    Random r = new Random();
    private int randomNum = 0;

    private string info = String.Empty;
    private string uri = "http://undecimodia.pythonanywhere.com/api";

    private void RandomInt()
    {
        randomNum = r.Next(0, 1000);
    }

    private async Task GetInfo()
    {
        User user;
        user = await Http.GetFromJsonAsync<User>("sample-data/user.json");
        info = $"Name: {user.Name}";
        info += $"Balance: ${user.Balance}";
    }

    class User
    {
        public string Name { get; set; }
        public int Balance { get; set; }
    }
}
